@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-wrapper {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 15px 100px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list > li {
    margin-right: 28px;
    cursor: pointer;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 100px;
    cursor: pointer;
    margin-left: 20%;
}

.links {
    margin-left: auto;
}

.links img {
    margin-right: 30px;
    cursor: pointer;
}

.main-page {
    height: calc(100vh - 58px);
    background-color: #F0EFEB;
    display: flex;
    padding-left: 190px;
}

.guides {
    height: 100vh;
    margin-top: 20px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 40px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;
}

.button {
    background: #000;
    border-radius: 100px;
    height: 36px;
    width: 130px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30%;
}

.main-image {
    width: 599px; 
    height: 521px;
    align-self: center;
}

.title-2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.text-title-2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}